<!doctype html>
<html data-ng-app="app">
<head>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body>
<script type="text/javascript">
window.products = {{ products|json_encode()|raw }};
</script>

<h1>Test Angular</h1>

<div data-ng-controller="ProductController"></div>


<script type="text/javascript" src="{{ asset('/bundles/app/js/app.js') }}"></script>
</body>
</html>
