<!doctype html>
<html ng-app="app">
<head>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="{{ asset('/bundles/app/js/app.js') }}"></script>
</head>
<body>
    <h1>{{ product.name }}</h1>
</body>
</html>
